body {
    background: #eee4d2;
    min-width: 20rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

div#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content div {
    border: 1px solid red;
}

.text-section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}